<div class="container py-3">
  <div class="row">
    <div class="col-md-4 col-12">
      <div class="card">
        <img *ngIf="user.photoUrl"  class="card-img-top" [src]="user.photoUrl" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ user.displayName }}</h5>
          <p class="card-text"><i class="fa fa-birthday-cake"></i>&nbsp;&nbsp;<strong>Age:</strong> {{ user.age }}</p>
          <p class="card-text"><i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Country:</strong> {{ user.country }}</p>
          <p class="card-text"><i class="fa fa-building"></i>&nbsp;&nbsp;<strong>City:</strong> {{ user.city }}</p>
          <p class="card-text"><i class="fa fa-venus-mars"></i>&nbsp;&nbsp;<strong>Gender:</strong> {{ user.gender }}</p>
          <p class="card-text"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;<strong>Last active:</strong> {{ user.lastActive.toDateString() }}</p>
        </div>
      </div>
    </div>
    <div class="col pl-3 right">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>About {{ user.displayName }} <i class="fa fa-user"></i></a>
          <ng-template ngbNavContent>
            <h4>Introduction</h4>
            <hr>
            <p>{{ user.introduction }}</p>

            <h4>Looking For</h4>
            <hr>
            <p>{{ user.lookingFor }}</p>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Interests <i class="fa fa-gamepad"></i></a>
          <ng-template ngbNavContent>
            <h4>Interests</h4>
            <hr>
            <p>{{ user.interests }}</p>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Photos <i class="fa fa-camera"></i></a>
          <ng-template ngbNavContent>
            <app-member-gallery [photos]="user.photos"></app-member-gallery>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Messages <i class="fa fa-comment"></i></a>
          <ng-template ngbNavContent>
            <p>3</p>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>
