.card,
.card img {
  border-radius: 10px;
}

.card {
  border: 3px solid rgb(253, 187, 102);
  background-color: rgba(255, 241, 251, 0.8);
}

.card img {
  width: 80%;
  margin: 10% auto;
}

.card-title {
  font-family: Courgette, cursive;
}

.right {
  background-color: rgba(241, 196, 236, 0.8);
  padding: 20px;
  border-radius: 10px;
  border: 3px solid rgb(253, 187, 102);
}

/*
 tab styling
 */

.nav-tabs {
  border-bottom: 1px solid #f1a871;
}

.nav-tabs > .nav-item > .nav-link {
  border-bottom: 2px solid #f1a871;
  color: #fa6e2c;
  font-weight: 500;
}

.nav-tabs > .nav-item > .nav-link:hover {
  border-color: transparent;
  border-bottom-color: #f1a871;
  background-color: rgba(238, 202, 176, 0.5);
}

.nav-tabs > .nav-item > .nav-link.active {
  border-color: transparent;
  border-bottom: 3px solid #e57922;
  background-color: rgba(238, 202, 176, 0.5);
  color: #ff6a1e;
}

.tab-content {
  padding: 2.5%;
}
