.delete,
.fa-star {
  position: absolute;
  bottom: 0.5em;
  margin: 0 0.2em;
  padding: 0.25em;
  border-radius: 0.5em;
  background-color: #e39402;
  color: rgb(238, 230, 234);
  transition: transform 0.3s;
}

.delete {
  cursor: pointer;
  right: calc(0.5em + 15px);
}

.fa-star {
  left: calc(0.5em + 15px);
}

.delete:hover {
  transform: scale(1.2, 1.2);
}

.drop-zone {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5rem;
  background-color: rgba(245, 172, 45, 0.8);
  text-align: center;
}

.fa-plus {
  font-size: 3rem;
  color: rgba(245, 245, 245, 0.8);
}
