<div class="container">
  <div class="row">
    <div *ngFor="let photo of photos" class="col-xs-2 col-md-4 my-2">
      <img [src]="photo.url" alt="gallery image" class="w-100" />
      <i class="fa fa-trash delete"></i>
      <i *ngIf="photo.isMain" class="fa fa-star"></i>
    </div>
  </div>
  <div class="mt-1">
    <h3>Drag your files here!</h3>

    <div ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         class="drop-zone"
         #dropZone>
      <i class="fa fa-plus"></i>
    </div>

    <table class="table table-responsive">
      <thead>
      <tr>
        <th width="50%">Name</th>
        <th>Size</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of uploader.queue">
        <td><strong>{{ item?.file?.name }}</strong></td>
        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        <td class="text-center">
          <span *ngIf="item.isSuccess"><i class="fa fa-check"></i></span>
          <span *ngIf="item.isCancel"><i class="fa fa-times"></i></span>
          <span *ngIf="item.isError"><i class="fa fa-trash"></i></span>
        </td>
      </tr>
      </tbody>
    </table>

    <div>
      <div class="progress bg-light mb-3" *ngIf="uploader.isUploading">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>
      <button type="button" class="btn btn-success mr-2"
              (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        <i class="fa fa-upload"></i> Upload all
      </button>
      <button type="button" class="btn btn-warning mr-2"
              (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        <span class="fa fa-times"></span> Cancel all
      </button>
      <button type="button" class="btn btn-danger"
              (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <span class="fa fa-trash"></span> Remove all
      </button>

    </div>
  </div>
</div>
