<div class="form-container">
  <h2 class="login-register-heading">Dating App - Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="login()" class="my-2 my-lg-0 mx-auto">
    <div class="form-row">
      <label for="username" class="form-label-text">Username</label>
    </div>
    <div class="form-row">
      <input id="username" name="username" required class="form-control mx-auto form-item" type="text" placeholder="username" [(ngModel)]="username" />
    </div>
    <div class="form-row">
      <label for="password" class="form-label-text">Password</label>
    </div>
    <div class="form-row">
      <input id="password" name="password" required class="form-control mx-auto form-item" type="password" placeholder="password" [(ngModel)]="password" />
    </div>
    <div class="form-row">
      <button class="d-block btn btn-success my-2 ml-auto" type="submit">Login</button>
      <button class="d-block btn btn-dark my-2 ml-1" type="button" (click)="switchToRegister()">Register</button>
    </div>
  </form>
</div>

