<div class="form-container">
  <h2 class="login-register-heading">Dating App - Register</h2>
  <form [formGroup]="formGroup" (ngSubmit)="register()" class="my-2 my-lg-0 mx-auto">
    <div class="form-row">
      <label for="username" class="form-label-text">Username</label>
    </div>
    <div class="form-row">
      <input id="username" name="username" formControlName="username" class="form-control mx-auto form-item" type="text" placeholder="username" [(ngModel)]="username" />
    </div>
    <div class="form-row">
      <label for="password" class="form-label-text">Password</label>
    </div>
    <div class="form-row">
      <input id="password" name="password" formControlName="password" class="form-control mx-auto form-item" type="password" placeholder="password" [(ngModel)]="password" />
    </div>
    <div class="form-row">
      <button class="d-block btn btn-success my-2 ml-auto" type="submit">Register</button>
      <button class="d-block btn btn-primary my-2 ml-1" type="button" (click)="switchToLogin()">Back to Login</button>
    </div>
  </form>
</div>

